/*styles go here*/


p {
	color: #212121;
    font-family: "Roboto", Arial, sans-serif;
}

h1 {
    font-family: "Montserrat", "Times New Roman", serif;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

#nav a:link, a:visited {
	display:block;
    color: #ffffff;
    background-color: #21bcbf;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #168082;
}

.caption {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none; 
}

/*Below this is all for flex*/

@media (min-width:800px){

#nav {
    display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#nav a{
  border-top:none;
  border-bottom:none;
}
#nav a:hover{
  background:black;
}

.first {
  margin-right: auto;
}

.main{
  display:flex;
  flex-flow:row;
}

img{
  width:50%;
  height:200px;
  margin-right:10px;
}



/*Tell the browser to work with flex*/
.wrapper{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.header, .main, .aside, .footer{
  flex: 1 100%;
  padding: 10px;
}

body {
  padding: 2em;
}

}